<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand ms-5" href="/">BYB</a>
  <div id="navbarNav" class="collapse navbar-collapse">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a
          class="nav-link"
          routerLinkActive="active"
          routerLink="/books/book-list"
          >Show Books</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          routerLinkActive="active"
          routerLink="/books/add-book"
          >Add Books</a
        >
      </li>
    </ul>
  </div>
</nav>

<div class="container">
 
   <div>
    <h2 class="text-center mt-5 text-primary">
      Welcome To Book Your Self With Book
    </h2>
    </div>

  <router-outlet></router-outlet>
  <lib-ng-toast></lib-ng-toast>
</div>
